# Xcode
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Misc
.DS_Store
*.swp
*~
.envrc
